@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Aladin&family=Alice&family=Bowlby+One&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Denk+One&family=Luxurious+Script&family=Playball&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 4rem; /*jarak antara tepi atas dari konten*/
  scroll-behavior: smooth; /*scrolling akan menjadi lebih halus*/
  list-style: none;
  text-decoration: none;
}
:root {
  --satu-color: #e8f0fa;
  --dua-color: #cee0f4;
  --tiga-color: #84a1c4;
  --lima-color: #607b9b;
  --enam-color: #195469;
  --bg-color: #fff;
  --second-color: #1954691a;
  --box-shadow: 2px 2px 10px 4px rgb(14 55 54 /15%);
}
.judul {
  font-size: 35px;
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
}
section {
  margin: 50px 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
hr {
  border: none;
  border-top: 1px solid var(--tiga-color);
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 5px auto;
}
a {
  text-decoration: none;
  color: black;
}
.title-text {
  position: relative;
  padding-bottom: 60px;
  font-family: "Aladin", system-ui;
  font-weight: 600;
  top: 45px;
  color: var(--enam-color);
  font-size: 30px;
}
.shadow-text {
  position: absolute;
  font-size: 100px;
  color: var(--enam-color);
  opacity: 0.3;
}
/* NAVBAR */
header {
  width: 100%;
  height: 75px;
  background-color: var(--tiga-color);
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  z-index: 10000;
}
.navbar {
  display: none;
}
.navbar a {
  padding: 8px 17px;
  color: var(--bg-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar a:hover {
  background: var(--main-color);
  border-radius: 0.2rem;
  transition: 0.2s all linear; /* diproses secara mulus dalam waktu 0.2 detik*/
}
.header-icon {
  display: flex;
  flex-direction: column;
}
.icon-bx {
  color: var(--satu-color);
  justify-content: end;
  display: flex;
  text-align: center;
  column-gap: 2rem; /*gap icon dgn yang lain*/
  margin-top: 20px;
  margin-right: 5rem;
}
.icon-bx .bx {
  font-size: 25px;
}
.icon-bx span {
  color: var(--satu-color);
  display: flex;
  flex-direction: column;
  font-size: 13px;
}
.icon-bx .bx:hover {
  color: var(--dua-color);
  cursor: pointer;
}
#menu {
  display: none;
}

/* HELLO */
.about-1 {
  background-image: url("daun4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10000;
  margin: 110px 50px 0px 50px; /*top, right, bottom, left*/
  text-align: center;
}
.heading img {
  border-radius: 50%;
  height: 250px;
  position: absolute;
  z-index: 100;
  top: 230px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.heading h1 {
  display: flex;
  padding-top: 300px;
  padding-bottom: 20px;
  justify-content: center;
  left: 0;
  right: 0;
  font-family: "Luxurious Script", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
}
.heading h2 {
  font-size: 50px;
  color: var(--tiga-color);
}
/* ABOUT */
.about {
  display: flex;
  background-color: var(--satu-color);
  box-shadow: var(--box-shadow);
  margin: 50px 50px 0px 50px; /*top, right, bottom, left*/
  gap: 60px;
}
.about-img {
  padding: 20px;
}
.about-img img {
  margin-left: 50px;
  border-radius: 300px;
  height: 300px;
}

.about-text h3 {
  font-family: "Italianno", cursive;
  font-weight: 550;
  font-style: normal;
  font-size: 50px;
  padding-top: 30px;
}
.about-text p {
  font-size: 18px;
}
.deskripsi-about {
  margin-top: 20px;
}
.data-diri {
  padding: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  letter-spacing: normal;
}
.data-diri span {
  display: flex;
  align-items: center;
}
.data-diri .bx {
  padding-right: 15px;
}

/* PORTOFOLIO */
.porto {
  background-color: var(--satu-color);
}
.judul h1 {
  left: 0;
  right: 0;
}
.porto a {
  display: flex;
}
.porto-contain {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 3rem;
  padding: 25px 10px;
  justify-content: center;
}
.ikon-porto img {
  display: flex;
  position: absolute;
  width: 130px;
  justify-content: center;
  margin: 3px auto;
}
.bingkai {
  padding-top: 0;
  justify-content: center;
  display: flex;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.bingkai:hover {
  transform: scale(1.12); /* Memperbesar bingkai saat dihover */
  border-radius: 15px;
}
.box {
  width: 250px;
  height: 100px;
  background-color: var(--dua-color);
  margin-top: 75px;
  box-shadow: var(--box-shadow);
  border-radius: 15px;
}
.box h2 {
  padding-top: 50px;
  text-align: center;
}
.box:hover {
  background-color: var(--satu-color);
  transition: 0.2rem all linear;
}

/* CONTACT */
.contain1 {
  background-color: var(--dua-color);
}
.contain {
  display: grid;
  gap: 15px;
  padding: 20px 50px;
}
.contact-icon {
  padding-top: 15px;
}
.contact-icon span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 3px 0;
  margin-left: 200px;
}
.contact-icon .bx {
  font-size: 18px;
}
.maycontact .garis {
  width: 100%;
}
.hr-contact {
  margin: 7px auto;
  text-align: center;
  border-top: 1px solid var(--tiga-color);
  width: 75%;
}

/* FOOTER */
.footer {
  background-color: var(--dua-color);
  margin-top: 30px;
  padding: 30px 0;
}
.footer p {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.footer-icon {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.footer-icon .bx {
  font-size: 25px;
  color: var(--enam-color);
  padding: 5px;
  background-color: var(--satu-color);
  border-radius: 8px;
}
.footer-icon .bx:hover {
  background-color: var(--satu-color);
  box-shadow: var(--box-shadow);
  transition: 0.3rem all linear;
}
.box-skill hr {
  display: none;
}
/* JADWAL KULIAH HTML */
.jadwal-kuliah-header {
  display: flex;
  flex-direction: row;
}
.jadwal-kuliah-header p {
  margin: 25px 50px 0 auto;
  font-size: 20px;
  color: var(--bg-color);
}
.jadwal-kuliah h3 {
  font-size: 35px;
}
.jadwal-kuliah h5 {
  font-size: 30px;
}
.section-jadwalKuliah {
  background-color: var(--satu-color);
  padding: 20px 0;
}
.jadwalKuliah-bx {
  color: var(--bg-color);
  font-size: 40px;
  margin: 15px 40px;
}
.jadwal-kuliah {
  background-image: url("daun4.jpg");
  background-position: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 110px;
  text-align: center;
  padding: 100px;
}
.jadwalKuliah {
  display: flex;
  overflow-x: auto;
  padding: 0 20px;
  min-width: 100%;
  /* justify-content: center; */
}
.jadwalKuliah > * {
  margin: auto;
}
.jadwal {
  flex: 0 0 auto;
  padding: 0 20px;
}

.jadwalKuliah,
.jadwalKuliah * {
  margin: 0;
  padding: 0;
}
.jadwalKuliah p {
  display: flex;
  gap: 100px;
  padding: 8px 30px;
  justify-content: center;
  margin: 0 40px;
}
.jadwalKuliah h2 {
  display: flex;
  justify-content: center;
  padding: 10px 50px;
}
.jadwal hr {
  width: 100%;
  margin: 0;
}

/* RESPONSIVE */
@media (max-width: 1053px) {
  /* JADWAL KULIAH */
  .jadwal-kuliah h3 {
    font-size: 30px;
  }
  .jadwal-kuliah h5 {
    font-size: 25px;
  }
  /* MAIN */
  .heading h1 {
    font-size: 80px;
  }
  .heading h2 {
    font-size: 40px;
  }
  .about {
    gap: 15px;
  }
  .about-img img {
    display: flex;
    height: 300px;
    margin-left: 0px;
  }
  .about-text {
    width: 800px;
  }
  .about-text h3 {
    font-size: 50px;
  }
  .data-diri {
    font-size: 20px;
    padding: 20px 0 0 0;
  }
  /* porto */
  .porto-contain {
    gap: 2rem;
  }
  .bingkai {
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .box {
    width: 500px;
  }
}
@media (max-width: 991px) {
  .shadow-text {
    font-size: 60px;
  }
  .title-text {
    font-size: 30px;
  }

  .about-text {
    width: 100%;
  }
  .about-img img {
    height: 250px;
  }
}
@media (max-width: 768px) {
  /* JADWAL KULIAH */
  .jadwal-kuliah h3 {
    font-size: 20px;
  }
  .jadwal-kuliah h5 {
    font-size: 15px;
  }
  /* MAIN */
  .heading h1 {
    font-size: 50px;
  }
  .heading h2 {
    color: var(--dua-color);
  }
  .icon-bx {
    display: none;
  }
  #menu {
    display: flex;
    color: var(--satu-color);
    z-index: 1;
    font-size: 30px;
    padding-right: 30px;
    justify-content: end;
    align-items: center;
    height: 65px;
  }
  #menu:hover {
    color: var(--dua-color);
  }
  .navbar {
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    gap: 0.7rem;
    font-size: 20px;
    background-color: var(--dua-color);
    box-shadow: var(--box-shadow);
    top: -210px;
    transition: 0.3rem;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a:hover {
    color: var(--tiga-color);
  }
  .about {
    display: flex;
    flex-direction: column;
  }
  .about-img img {
    position: absolute;
    width: 200px;
    height: auto;
    top: 700px;
    right: 60px;
  }
  .about-img {
    order: 1;
  }
  .shadow-text {
    font-size: 60px;
  }
  .title-text {
    top: 18px;
  }
  /* porto */
  .porto-contain {
    padding: 0px;
    gap: 1rem;
  }
  /* Contact */
  .contact-icon span {
    margin-left: 100px;
  }
}
@media (max-width: 600px) {
  /* JADWAL KULIAH */
  .jadwal-kuliah-header p{
    margin-right: 20px;
    font-size: 20px;
  }
  /* MAIN */
  section {
    margin: 20px 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
  }
  .about-1 {
    margin: 100px 20px 0px 20px;
  }
  .about {
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
  }
  .about-img img {
    position: static;
    width: 200px;
  }
  .shadow-text {
    font-size: 50px;
  }
  /* Contact */
  .contact-icon span {
    margin-left: auto;
  }
}
@media (max-width: 360px) {
  /* JADWAL KULIAH */
  .jadwal-kuliah h3 {
    font-size: 15px;
  }
  .jadwal-kuliah h5 {
    font-size: 10px;
  }
  /* MAIN */
  /* porto */
  .porto-contain {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Untuk memusatkan kotak-kotak secara horizontal */
    gap: 10px;
  }
  .shadow-text {
    font-size: 35px;
  }
  .title-text {
    font-size: 25px;
  }
}
